.hero {
  width: 100%;
  height: 400px;
  background-color: var(--primary-color);
  background-image: url("../../images/cyprus.webp?v=3");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  place-content: center;
  position: relative;
  overflow-x: clip;
}
.hero h1 {
  color: #ffffff;
  font-size: 64px;
  text-shadow: 0 6px 12px var(--shadow-heavy-color);
  text-align: center;
}
.hero .divider {
  fill: #ffffff;
  rotate: 180deg;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  scale: -1 1;
  translate: 0 1.5px;
}
.cities {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 20px;
}
.cities .city {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.cities .city.city-inverse {
  flex-direction: row-reverse;
  text-align: end;
}
.cities img {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  object-fit: cover;
  flex-grow: 1;
}
.button i {
  margin-left: 8px;
}
/* Mobile optimization */
@media (max-width: 768px) {
  .cities .city,
  .cities .city.city-inverse {
    flex-direction: column;
    text-align: center;
  }
}
