.hero {
  width: 100%;
  height: 683px;
  background-color: var(--primary-color);
  background-image: url("../../images/hero-bg.webp?v=3");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center;
  position: relative;
  overflow-x: clip;
}
.hero h1 {
  color: #ffffff;
  font-size: 64px;
  text-shadow: 0 6px 12px var(--shadow-heavy-color);
  text-align: center;
}
.hero .divider {
  fill: #ffffff;
  rotate: 180deg;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 125%;
  height: 110px;
  translate: 0 1.5px;
}
.hero .scroll-indicator {
  color: #ffffff;
  opacity: 0.85;
  translate: 0 200px;
}
.hero .scroll-indicator i {
  margin-right: 6px;
}

.destinations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 0 20px;
}
.destination-card {
  display: block;
  width: 360px;
  border-radius: var(--radius-sm);
  overflow: clip;
  border: 1px solid var(--light-alt-color);
  text-decoration: none !important;
  position: relative;
}
.popular-ribbon {
  position: absolute;
  top: 24px;
  right: 0;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.destination-card img {
  width: 100%;
  height: 240px;
  aspect-ratio: auto;
  object-fit: cover;
}
.destination-card-popular {
  flex-grow: 1;
}
.destination-card-popular img {
  width: 100%;
  height: 340px;
}
.destination-card:hover {
  opacity: 0.85;
}
.destination-card:hover .button,
.destination-card:hover .popular-ribbon {
  background-color: var(--secondary-color);
}
.destination-card-content {
  padding: 15px;
  text-align: center;
}
.destination-card-content h2 {
  color: #000000;
}
.destination-card-content h2 span {
  display: block;
  font-size: 14px;
  margin-top: 4px;
  color: var(--muted-color);
}
.button i {
  margin-left: 8px;
}
.newsletter-section {
  background-color: var(--light-color);
  background-image: url("../../images/newsletter-bg.webp?v=4");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}
.newsletter-container {
  width: 70%;
  background: linear-gradient(0deg, var(--light-color) 0%, #ffffff 100%);
  box-shadow: 0 0 44px var(--shadow-color);
  margin: auto;
  border-radius: var(--radius-xs);
  padding: 0 40px 0 0;
  display: flex;
  overflow: clip;
  align-items: center;
  gap: 40px;
}
.newsletter-container img {
  width: 40%;
  max-height: 480px;
  object-fit: cover;
}
.newsletter-container h1 {
  text-transform: uppercase;
  background: linear-gradient(
    0deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
}
.form-input {
  border-radius: var(--radius-sm) 0 0 var(--radius-sm);
}
.fieldset {
  display: flex;
}
.fieldset button {
  background: linear-gradient(
    0deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  margin: 0 !important;
  padding: 20px;
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
}
.fieldset button:hover {
  opacity: 0.7;
}
.site-footer {
  margin-top: 0 !important;
  border-radius: 0;
}
/* Mobile optimization */
@media (max-width: 1024px) {
  .hero .divider {
    height: 60px;
  }
  .hero .scroll-indicator {
    translate: 0 160px;
  }
  .destinations {
    justify-content: center;
    flex-wrap: wrap;
  }
  .destination-card {
    width: 100%;
    margin: 0 40px;
  }
  .newsletter-container {
    width: auto;
    margin: 0 40px;
  }
}
@media (max-width: 768px) {
  .newsletter-container {
    flex-direction: column;
    padding: 0 0 40px 0;
  }
  .newsletter-container img {
    width: 100%;
    max-height: 260px;
  }
  .newsletter-form {
    padding: 20px;
  }
}
